
*
{
	margin: 0;
}

/*-----------------------------------------------------*/
/* -------- Gestion des fonds et de la police ---------*/
/*-----------------------------------------------------*/

html, body
{
  overflow: hidden;
	font-family: 'Source Sans Pro';
	font-size:16px;
}

.bloc
{
	position: relative;
	height: 100vh;
	width: 100%;
	margin-left: 4%;
	z-index: 50;
}

.bloc video
{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
}

.bloc::before
{
	position: absolute;
	content:"";
	height: 115%;
	width: 100%;
	z-index: -99;
	background-color: #00000096;
}

/*-----------------------------------------------------*/
/* ------------------ Page Haikyu -------------------- */
/*-----------------------------------------------------*/


#background
{
	position: fixed;
	Z-index: -100;
	min-width: 100%;
	min-height: 100%;
}

/*-----------------------------------------------------*/
/* ---------------- Fin Page Haikyu ------------------ */
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/* ------------------- Page Top ---------------------- */
/*-----------------------------------------------------*/

.leTop
{
	list-style-type: none;
	width: 100%;
	height: 100%;
	padding: 0;
	color: white;
}

.espace
{
	height: 2.5%;
}

.contenu
{
		font-size: 200%;
		height: 17.35%;
		display: flex;
		justify-content: center;
}

.leTop a
{
	border-top: solid 3px;
	border-bottom: solid 3px;
	height: 17.35%;
	display: flex;
	justify-content: center;
	border-color: white;
	color: yellow;
	text-decoration: none;
	overflow: hidden;
}

.leTop p
{
	position: absolute;
	left: 1%;
}

.leTop li
{
		
}

.leTop img
{
	position: absolute;
	width: 100%;
	height: 17.35%;
	z-index: -50;
	margin-left: 0;
	display: block;
	overflow: hidden;
	transform: scale(1);
	transition: 0.3s;
}

.leTop a:hover img
{
	transform: scale(1.32);	
}

.leTop a:hover
{
	border-top:none;
}
/*#last
{
	border-bottom: solid 3px;
}*/
/*-----------------------------------------------------*/
/* ------------------ Fin Page Top ------------------- */
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/* --------------- Pages Présentation ---------------- */
/*-----------------------------------------------------*/
a
{
	color: red;
	text-decoration: none;
}

#test
{
	float: left;
	margin-left: 10%;
	width: 75%;
}

/*-----------------------------------------------------*/
/* ------------ Fin Pages Présentation --------------- */
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/* ------------------ Mise en page ------------------- */
/*-----------------------------------------------------*/
h1
{
  color: white;
	text-align: center;
}

h2
{
	color: white;
	font-size: 240%;
	text-align: center;
}

h3
{
	color: white;
	font-size: 150%;
	text-align: center;
}

.bloc h2
{
		margin-bottom: 1%;
}

.titre
{
	font-family: Concert One, sans-serif;
	font-size: 280%;
	margin-bottom: 0.5em;
	text-align: center;
}

p
{
	color: white;
}

.float
{
	float: right;
	width: 25%;
	margin: 1em 0;
}

.section
{
	float: center;
}

.persoprincipaux
{
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: inline-block;
}

.persoprincipaux img
{
	float: left;
	min-width: 225px;
	min-height: 225px;
	max-width: 225px;
	max-height: 225px;
	border-radius: 50%;
	border: 3px double white;
	margin-left: 25%;
	margin-bottom: 1%;
}

#seul
{
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: inline-block;
}

#seul img
{
	float: left;
	min-width: 225px;
	min-height: 225px;
	max-width: 225px;
	max-height: 225px;
	border-radius: 50%;
	border: 3px double white;
	margin-left: 44%;
	margin-bottom: 1%;
}

#seul.caption
{
	margin: 0 auto;
	width: 75%;
}

#seul > .caption p
{
	width: 100%;
	float: left;
}

.caption
{
	margin: 0 auto;
	width: 75%;
}

.caption p
{
		width: 49.5%;
		float: left;
}

.synopsis
{
	float: left;
	padding: 2%;
	padding-top: 15px;
	margin-left: 5%;
	background-color: red;
	width: 35%;
	height: 41%;
	margin-top: 50px;

	background-color: rgb(200, 200, 200, 0.5);
	border-radius: 25px;
	border-style: groove;
}

#note
{
		float: right;
		padding: 2%;
		padding-top: 25px;
		padding-right: 0;
		margin-right: 8.5%;
		width: 35%;
		height: 40%;
		margin-top: 50px;
		margin-bottom: 5%;

}

#note > img
{
		margin: 0 auto;
		margin-top: 5%;
		border-radius: 10%;
}

.synopsis blockquote
{
	margin-top: 6%;
	color: white;
	font-size: 150%;
	text-align: justify;
}

/*-----------------------------------------------------*/
/* ---------------- Fin Mise en page ----------------- */
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/*---------------------- NAVBAR -----------------------*/
/*-----------------------------------------------------*/

/* Cadrage icone github */
#git
{
	max-width: 25%;
	max-height: 25%;
	padding-left: 30px;
	margin-right: 12%;
}

.menu
{
	position: fixed;
	top: 100px;
	right: 5%;
	background-color: #2b4618d4;
	border: 4px solid #666666;
	width: 10%;
	font-size: 150%;
}



:root
{
	--navbar-background-color: #f2f2f2;
	--navbar-item-hovered-color:white;
	--navbar-separator-color:#ececec;
	--navbar-icon-color:#646c79;
	--navbar-text-color:black;                                    /* Permet de mettre les différente couleur du menu*/
	--navbar-transition-speed: .2s;
	--primary-color:#7C4DFF;
	--navbar-logo-background-color:#e2dfe4; 					/*couleur des icones quand la souris passe dessus */
}

main
{
  padding: 1rem 4rem;
  margin-left: 5rem;
  text-align: justify;
	z-index: 100;
}

.navbar								/* <<<<<< Position de l'endroit ou va etre situer la nav bar sur notre site*/
{
  width:5rem;
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
			/* Couleur de l'arriere plan de la navbar*/
  background:var(--navbar-background-color);
  box-shadow: rgba(12,43, 30, 0.2) 0 4px 14px; /* Marque la séparation entre le menu et le contenu*/
  transition: width var(--navbar-transition-speed) ease;  /* Animation d'ouverture */
	z-index: 100;
}

.navbar:hover     /* Ouverture du menu quand la souris passe dessus */
{
  width:15rem;
}

.navbar-menu
{
  list-style: none;
  padding:0;
  margin:0;
  display:flex;        /* permet de mettre l'element tout en bas */
  flex-direction: column;  /* élement l'un en dessus des autres */
  align-items: center;    /* Centrage du contenu*/
  height:100%;
}

.navbar-item    /*bouton de navigation */
{
  width: 100%;
  border-bottom:solid 1px var(--navbar-separator-color);
  transition: background-color var(--navbar-transition-speed);
}

.navbar-item:hover
{
  background-color:var(--navbar-item-hovered-color);
}

.navbar-item:last-child   /*L'element qui se situe en bas */
{
  margin-top:auto;
}

.navbar-link  /*mise en forme de la navbar */
{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  height:5rem;
  width:100%;
  text-decoration: none;
}

.navbar-icon  /*Couleur de nos icones */
{
  text-align: center;
  font-size: 1.5rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color:var(--navbar-icon-color);
  transition:var(--navbar-transition-speed);
}

.navbar-item:hover .navbar-icon
{
  color:var(--primary-color);
}

.navbar-title
{
  color:var(--navbar-text-color);
}

.navbar:not(:hover) .navbar-title    /*Cache le texte si la nav bar est pas ouvert */
{
  display:none;
}

.logo
{
  background:var(--navbar-logo-background-color);
}

.logo .navbar-title
{
  font-size:1.5rem;
  font-weight:bold;
  margin-left:1.5rem;
}

.navbar:hover .logo .navbar-icon
{
  transform:rotate(180deg);      /* Fait tourner les icones a l'ouverture de la nav bar */
}

/*
** RESPONSIVE
*/

@media only screen and (max-width:1024px)   /* Taille maximal de l'ouverture de la nav bar */
{
  .navbar 					/* Position de la nav bar en bas de l'ecran pour avoir + de place pour le texte si affichage trop petit */
	{
    top:auto;
    width:100%;
    bottom:0px;
  }

  .navbar:hover
	{
    width:100%;
  }

  .navbar-menu				/* Pour que les boutons s'affiche comme des colonnes */
	{
    flex-direction: row;
  }

  .logo 				/* Cache le logo */
	{
    display:none;
  }

  main  				/* enleve l'espace a gauche pour laisser place au texte et le mettre en bas*/
	{
    margin-left:0;
    margin-bottom:5rem;
  }

  .navbar:hover .navbar-title   /* Cacher les texte du bouton quand la souris et sur la nav bar */
	{
    display:none;
  }

  .navbar-icon
	{
    min-width:auto;
    margin:0;
  }

  .navbar-link       /* Recentre les icones pas centrer */
	{
    justify-content: center;
  }
}
